@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: rgb(231, 231, 231);
}

.heading {
  color: rgba(19, 19, 19, 0.9);
}

a {
  text-decoration: none;
}

@media (max-width: 900px) {
#hero-mobile {
  width: 100vw;
  margin-top: 5em;
  background-color:rgb(214, 140, 118);
  padding: 2em;
  box-sizing: border-box;
  text-align: center;
  border-top: .5em double rgb(41, 41, 41);
  border-bottom: .5em double rgb(41, 41, 41);
}

#hero-mobile img {
  width: 70%;
  display: block;
  margin: 0 auto;
  border: .3em double rgb(41, 41, 41);
  border-radius: .5em;
}

nav ul {
  list-style-type: none;
  width: 100%;
  background-color: rgba(19, 19, 19, 0.85);
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  color:rgb(214, 140, 118);
  position: fixed;
  margin-top: -5em;
}

nav li {
  padding: .25em;
}

nav a {
  text-decoration: none;
  color:rgb(214, 140, 118);
  padding: .3em;
}

nav a:hover {
  border: .1em solid rgb(214, 140, 118);
}

#projects li {
  width: 40%;
}
}

@media (min-width: 900px) {
nav {
  display: none;
}

#hero-img {
  float: right;
  height: 100vh;
  border-left:rgb(41, 41, 41) double 1em;
}

#hero-desktop {
  height: 100vh;
  padding-top: 42vh;
  padding-left: 1em;
  background-image: linear-gradient( rgb(241, 177, 157),rgb(214, 140, 118), rgb(148, 93, 76));
  box-sizing: border-box;
}

#projects li {
width: 20%;
}
}

#projects h3 {
  color:rgb(41, 41, 41);
  padding-left: 1em;
  font-size: 1.5em;
}

#projects ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#projects li {
  color:rgba(19, 19, 19, 0.9);
  padding: 1em;
  box-sizing: border-box;
}

#projects a {
  text-decoration: none;
  color:rgba(19, 19, 19, 0.9);
}

#projects li:hover {
  background-color:rgb(214, 140, 118);
  color:rgba(19, 19, 19, 0.9);
}

.project-img {
  max-width: 90%;
}

.full-size-img {
  max-width: 100%;
}

#about {
  background-color:rgba(19, 19, 19, 0.9);
  color: rgb(231, 231, 231);
  padding: 1em;
}

#about h3 {
  color:rgb(235, 158, 134);
}

#about h4 {
  color:rgb(235, 158, 134);
}

#about span {
  padding: .5em;
  font-weight: bold;
  color:rgb(235, 158, 134)
}

#contact {
  color:rgb(170, 79, 51);
  padding: 1em;
  font-size: 1.5em;
}

#contact img {
  max-width: 2em;
  padding-right: 1em;
}